nav {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 85%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.25);
    color: $white1;

    ul {
        display: flex;
        align-items: center;
    }

    .nav-left {
        &:hover li:not(:hover) {
            background: none;
            color: $white1
        }

        li {
            @include title;
            font-size: 0.7rem;
            padding: 0 15px;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:first-child {
                background: $white1;
                color: $black1;
            }

            &:hover {
                background: $white1;
                color: $black1;
            }
        }
    }
    .nav-right {
        font-size: 1.1rem;
        min-width: 100px;
        width: 25%;
        max-width: 300px;
        justify-content: space-around;
        margin-right: 10px;

        li {
            transition: 0.15s;
            cursor: pointer;

            &:hover {
                transform: scale(1.4);
            }
        }
    }
}