header {

    height: 100vh;
    margin: 0 auto;
    @include centerChild;
    color: $white;
    position: relative;
    

        h1 {
            font-family: $font-1;
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            line-height: 80px;
            letter-spacing: 8px;
        }
    
        p {
            font-family: $font-2;
            font-style: italic;
            margin: 40px 0 60px;
            padding: 0 30px;
        }
    
        a {
            color: $white;
            text-decoration: none;
        }
    
        .arrow-down  {
            @include centerChild;

        }
        
        .arrow-down i {
            border: solid 1px $white;
            border-radius: 150px;
            font-size: 1.5rem;
            height: 65px;
            width: 65px;
            @include centerChild;
        }
    
        nav {
            display: flex;
            justify-content: space-between;
            height: 60px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(255, 255, 255, 0.25);
            font-family: "inter";

        
            ul {
                list-style: none;
                display: flex;
                justify-content: end;
                align-items: center;
                
                
                li {
                    height: 60px;
                    padding: 18px;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                    
                }   
            }
                .categories li:first-child{
                    background: $grey;
                    
                    a {
                        color: black;
                    }
                }

                .categories li:hover {
                    background: $grey;

                    a {
                    color: black;
                    }
                }

                .network {
                    width: 40%;
                    li {
                        font-size: 1rem;
                        padding: 18px 30px;
                        transition: 0.3s;

                        i {
                            transition: 0.3s;
                        }

                        i:hover {
                            scale: 2.0;
                        }
                    }
                }
        
        }

    
}