header {
    color: $white1;
    min-height: 100vh;
    position: relative;

    .header-container {
        @include centerChild;
        flex-direction: column;
        margin: 0 auto;
        min-height: 100vh;
        text-align: center;
        opacity: 0;
        transform: translateY(45px);
        animation: headAnim ease 1.2s forwards;

        @keyframes headAnim {
            to {
                opacity: 1;
                transform: translateY(0)
            }
        }

        
        h1 {
            @include title;
            font-size: 4rem;
            letter-spacing: 6px;

            @media screen and (max-width: 620px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 540px) {
                font-size: 2rem;
            }
        }
        
        p {
            margin: 40px auto 60px;
            font-style: italic;
            font-size: 0.9rem;
            line-height: 24px;

            @media screen and (max-width: 540px) {
                font-size: 0.8rem;
            }
        }

        span {
            height: 60px;
            width: 60px;
            border: solid 2px $white1;
            border-radius: 50px;
            color: $white1;
            font-size: 1.2rem;
            @include centerChild;           
        }
    }    
}