header {
    height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    @include centerChild;
    flex-direction: column;
    text-align: center;
    color: $white1;
    position: relative;

    .header-container {


        text-align: center;       
        width: 80%;
        opacity: 0;
        transform: translateY(45px);
        animation: headAnim ease 1.2s forwards;

        @keyframes headAnim {
            to {
                opacity: 1;
                transform: translateY(0)
            }
        }

        
        h1 {
            @include title;
            letter-spacing: 6px;
            font-size: 4rem;

            @media screen and (max-width: 620px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 540px) {
                font-size: 2rem;
            }
        }
        
        p {
            margin: 40px auto 60px;
            font-style: italic;
            font-size: 0.9rem;
            line-height: 24px;

            @media screen and (max-width: 540px) {
                font-size: 0.8rem;
            }
        }

        span {
            a,
            a:visited {
            color: $white1;
            display: inline-block;
            
        }
        
        i {
            height: 60px;
            width: 60px;
            border: solid 1px $white1;
            border-radius: 50px;
            font-size: 1.2rem;
            @include centerChild;
            }
        }
    }    
}