@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}

$grey: #e7e6e6;
$white: rgb(247, 247, 247);
$font-1: "Inter";
$font-2: "Merriweather";

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

body {
    height: 100vh;
    background: url(../images/bg.jpg) fixed center/cover;
    outline: none;
    width: 80%;
    margin: 0 auto;
}