@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_opsz\.wght.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  font-family: Merriweather, sans-serif;
  min-height: 100vh;
  max-width: 1300px;
  text-align: center;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  -webkit-animation: blackAnim 1.5s ease forwards;
          animation: blackAnim 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes blackAnim {
  to {
    opacity: 0;
  }
}
@keyframes blackAnim {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 2px solid rgb(17, 17, 17);
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  width: 85%;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.25);
  color: rgb(243, 243, 243);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
nav .nav-left:hover li:not(:hover) {
  background: none;
  color: rgb(243, 243, 243);
}
nav .nav-left li {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.7rem;
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  nav .nav-left li {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 830px) {
  nav .nav-left li {
    font-size: 0.5rem;
  }
}
nav .nav-left li:first-child {
  background: rgb(233, 233, 233);
  color: rgb(17, 17, 17);
}
nav .nav-left li:hover {
  background: rgb(243, 243, 243);
  color: rgb(17, 17, 17);
}
nav .nav-right {
  font-size: 1.1rem;
  min-width: 100px;
  width: 25%;
  max-width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
}
@media screen and (max-width: 700px) {
  nav .nav-right {
    display: none;
  }
}
nav .nav-right li {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}
nav .nav-right li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

header {
  color: rgb(243, 243, 243);
  min-height: 100vh;
  position: relative;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 80%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  -webkit-animation: headAnim ease 1.2s forwards;
          animation: headAnim ease 1.2s forwards;
}
@-webkit-keyframes headAnim {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes headAnim {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
header .header-container h1 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 4rem;
  letter-spacing: 6px;
}
@media screen and (max-width: 792px) {
  header .header-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 625px) {
  header .header-container h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 454px) {
  header .header-container h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 370px) {
  header .header-container h1 {
    font-size: 1rem;
  }
}
header .header-container p {
  margin: 40px auto 60px;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 24px;
}
@media screen and (max-width: 540px) {
  header .header-container p {
    font-size: 0.8rem;
  }
}
header .header-container span {
  height: 60px;
  width: 60px;
  border: solid 2px rgb(243, 243, 243);
  border-radius: 50px;
  color: rgb(243, 243, 243);
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-container span:hover {
  scale: 1.1;
}

main {
  background: rgb(243, 243, 243);
  width: 85%;
  margin: 0 auto 30px;
}
main .section-1 {
  width: 80%;
  margin: 0 auto;
}
main .section-1 span {
  padding: 70px 0;
  display: block;
  text-transform: capitalize;
  position: relative;
}
main .section-1 span::before, main .section-1 span::after {
  content: "";
  width: 35%;
  height: 1px;
  background: rgb(209, 209, 209);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 650px) {
  main .section-1 span::before, main .section-1 span::after {
    width: 28%;
  }
}
@media screen and (max-width: 465px) {
  main .section-1 span::before, main .section-1 span::after {
    width: 23%;
  }
}
@media screen and (max-width: 350px) {
  main .section-1 span::before, main .section-1 span::after {
    width: 20%;
  }
}
main .section-1 span::before {
  left: 0;
}
main .section-1 span::after {
  right: 0;
}
main .section-1 h2 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem;
}
@media screen and (max-width: 900px) {
  main .section-1 h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 382px) {
  main .section-1 h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 300px) {
  main .section-1 h2 {
    font-size: 1.1rem;
  }
}
main .section-1 p {
  width: 60%;
  margin: 40px auto;
  line-height: 35px;
  font-style: italic;
  font-size: 0.8rem;
}
@media screen and (max-width: 1100px) {
  main .section-1 p {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  main .section-1 p {
    width: 80%;
  }
}
main .section-1 .img {
  height: 500px;
  background: url(../images/pic01.jpg) center/cover;
}
@media screen and (max-width: 800px) {
  main .section-1 .img {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  main .section-1 .img {
    height: 250px;
  }
}
main .section-1 .btn {
  margin: 50px auto 80px;
}
@media screen and (max-width: 380px) {
  main .section-1 .btn {
    font-size: 0.6rem;
    width: 120px;
  }
}

.section-2 {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 800px) {
  .section-2 {
    display: block;
    border: 1px solid rgb(209, 209, 209);
  }
}
.section-2::before {
  content: "";
  width: 100%;
  height: 1px;
  background: rgb(209, 209, 209);
  position: absolute;
  top: 0;
}
@media screen and (max-width: 800px) {
  .section-2::before {
    display: none;
  }
}
.section-2::after {
  content: "";
  width: 1px;
  height: 99.5%;
  background: rgb(209, 209, 209);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  .section-2::after {
    display: none;
  }
}
.section-2 h3 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 0;
  font-size: 1.4rem;
  line-height: 28px;
}
.section-2 span {
  text-transform: capitalize;
}
.section-2 p {
  text-align: left;
  margin: 30px auto;
  line-height: 35px;
  font-size: 0.8;
}
@media screen and (max-width: 420px) {
  .section-2 p {
    font-size: 0.7rem;
  }
}
.section-2 .btn {
  margin: 0 auto 20px;
}
@media screen and (max-width: 380px) {
  .section-2 .btn {
    width: 120px;
    font-size: 0.6rem;
  }
}
.section-2 .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .section-2 .left-part {
    margin: 0 auto;
    width: 90%;
    padding: 50px 40px;
  }
}
.section-2 .left-part .img {
  height: 300px;
  width: 100%;
  background: url(../images/pic02.jpg) center/cover;
}
@media screen and (max-width: 800px) {
  .section-2 .left-part .img {
    height: 250px;
  }
}
@media screen and (max-width: 380px) {
  .section-2 .left-part .img {
    height: 200px;
  }
}
.section-2 .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding: 40px;
}
@media screen and (max-width: 800px) {
  .section-2 .right-part {
    margin: 0 auto;
    width: 90%;
  }
}
.section-2 .right-part .img {
  height: 300px;
  width: 100%;
  background: url(../images/pic03.jpg) center/cover;
}
@media screen and (max-width: 800px) {
  .section-2 .right-part .img {
    height: 250px;
  }
}
@media screen and (max-width: 380px) {
  .section-2 .right-part .img {
    height: 200px;
  }
}

footer {
  background: rgb(233, 233, 233);
  width: 85%;
  min-height: 640px;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 1050px) {
  footer {
    display: block;
  }
}
footer form {
  padding: 60px 50px;
  display: grid;
  grid-template-rows: 18px 45px 18px 45px 18px 200px 1fr;
  gap: 18px;
  height: 100%;
}
@media screen and (max-width: 1050px) {
  footer form {
    width: 70%;
    margin: 0 auto;
  }
}
footer form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.7rem;
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(105, 105, 105);
}
@media screen and (max-width: 1050px) {
  footer form label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer form input[type=text],
footer form textarea {
  background: none;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
  outline: none;
  resize: none;
}
footer form .submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 1050px) {
  footer form .submit-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer form .submit-container input {
  border: 1px solid rgb(105, 105, 105);
  color: rgb(105, 105, 105);
}
footer .infos {
  border-left: 1px solid rgb(209, 209, 209);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
@media screen and (max-width: 1050px) {
  footer .infos {
    border-top: 1px solid rgb(209, 209, 209);
  }
}
footer .infos div {
  border-bottom: 1px solid rgb(209, 209, 209);
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1050px) {
  footer .infos div {
    padding: 20px 0;
    grid-template-columns: 55% 45%;
  }
}
footer .infos div h3 {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.7rem;
  color: rgb(105, 105, 105);
  padding-left: 40px;
  text-align: left;
}
footer .infos div p {
  font-size: 0.8rem;
  line-height: 25px;
  text-align: left;
  color: gray;
}
@media screen and (max-width: 1050px) {
  footer .infos div p {
    line-height: 30px;
  }
}
footer .infos div:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .infos div:last-child ul li {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 150px;
  height: 40px;
  width: 40px;
  font-size: 0.9rem;
  color: rgb(17, 17, 17);
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .infos div:last-child ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}/*# sourceMappingURL=index.css.map */